@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.inputremove {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.inputremove::-webkit-outer-spin-button,
.inputremove::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
